[submodule "switch-cmake"]
	path = switch-cmake
	url = https://github.com/vbe0201/switch-cmake
[submodule "VVVVVV"]
	path = VVVVVV
	url = https://github.com/leo60228/VVVVVV
	branch = fs-portability
[submodule "physfs-switch"]
	path = physfs-switch
	url = https://github.com/carstene1ns/physfs-switch.git
